<%= form_for(@season) do |f| %>
  <div class="callout">
    <% if @season.errors[:base].any? %>
      <div class="alert callout">
        <% @season.errors[:base].each do |e| %>
          <%= e %><br/>
        <% end %>
      </div>
    <% end %>
    <div class="row">
      <div class="small-6 column">
        <%= f.text_field :start_date, label: "First Date", class: "date-pick" %>
      </div>
      <div class="small-6 column">
        <%= f.text_field :end_date, label: "Last Date", class: "date-pick" %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 column">
        <%= f.submit class: "expanded button" %>
      </div>
    </div>
  </div>
<% end %>
