= form_for(@season) do |f|
  .callout
    - if @season.errors[:base].any?
      .alert.callout= @season.errors[:base].to_sentence
    .row
      .small-6.column
        = f.date_field :start_date, label: 'First Date'
      .small-6.column
        = f.date_field :end_date, label: 'Last Date'
    .row
      .small-12.column
        = f.submit class: 'expanded button'
