= content_for :title, resource.first_name
.row
  .small-8.columns.small-centered
    .row
      .small-12.columns
        %h1
          Editing #{resource_name.to_s.humanize}
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      .callout
        .row
          .small-6.column
            = f.text_field :first_name, autofocus: true, label: 'First Name'
          .small-6.column
            = f.text_field :last_name, label: 'Last Name'
        .row
          .small-12.column
            = f.email_field :email
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          .row
            .small-12.column
              .callout.primary
                Currently waiting confirmation for: #{resource.unconfirmed_email}
        .row
          .small-12.column
            = f.check_box :email_updates, label: 'Email me occasional updates on Camp and this site'
        .row
          .small-12.column
            %label{for: 'user_calendar_access_token'} Calendar Access Token
            .input-group
              = f.text_field :calendar_access_token,
                readonly: true,
                placeholder: "Will be Regenerated",
                label: false,
                class: "input-group-field"
              .input-group-button
                = button_tag icon('fas', 'sync'),
                  id: 'token-button',
                  class: 'button'
        - if @oauth
          .row
            .small-12.column
              .callout.secondary
                Your login is associated with your #{@oauth} account.
        - else
          .row
            .small-6.column
              = f.password_field :password, autocomplete: 'off', label: 'New Password'
              %small.label-note.hide{data: {for: 'user_password'}} Leave blank if no change
            .small-6.column
              = f.password_field :password_confirmation, autocomplete: 'off', label: 'Confirm New Password'
          .row
            .small-12.column
              = f.password_field :current_password, autocomplete: 'off', label: 'Current Password'
              %small.label-note.hide{data: {for: 'user_current_password'}} We need your current password to confirm your changes
        .row
          .small-12.column
            = f.submit 'Update', class: 'expanded button'
    .row
      .small-12.column.text-right
        = link_to 'Back', :back
