<div class="row">
  <div class="small-8 columns small-centered">
    <div class="row">
      <div class="small-12 columns">
        <h1>Editing <%= resource_name.to_s.humanize %></h1>
      </div>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="callout">
        <div class="row">
          <div class="small-6 column">
            <%= f.text_field :first_name, autofucus: true, label: "First Name" %>
          </div>
          <div class="small-6 column">
            <%= f.text_field :last_name, label: "Last Name" %>
          </div>
        </div>
        <div class="row">
          <div class="small-12 column">
            <%= f.email_field :email %>
          </div>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div class="row">
            <div class="small-12 column">
              <div class="callout primary">
                Currently waiting confirmation for: <%= resource.unconfirmed_email %>
              </div>
            </div>
          </div>
        <% end %>
        <div class="input-group">
          <%= f.text_field :calendar_access_token,
                           readonly: true,
                           placeholder: "Will be Regenerated",
                           label: "Calendar Access Token",
                           class: "input-group-field"%>
          <div class="input-group-button">
            <label>&nbsp;</label>
            <a href="#" id="token-button" class="button"><%= icon 'refresh' -%></a>
          </div>
        </div>
        <% if @oauth %>
          <div class="row">
            <div class="small-12 column">
              <div class="callout secondary">
                Your login is associated with your <%= @oauth %> account.
              </div>
            </div>
          </div>
        <% else %>
          <div class="row">
            <div class="small-6 column">
              <%= f.password_field :password, autocomplete: "off" %>
              <small data-for="user_password" class="label-note hide">Leave blank if no change</small>
            </div>
            <div class="small-6 column">
              <%= f.password_field :password_confirmation, autocomplete: "off", label: "Confirm Password" %>
            </div>
          </div>
          <div class="row">
            <div class="small-12 column">
              <%= f.password_field :current_password, autocomplete: "off", label: "Current Password" %>
              <small data-for="user_current_password" class="label-note hide">We need your current password to confirm your changes</small>
            </div>
          </div>
        <% end %>
        <div class="row">
          <div class="small-12 column">
            <%= f.submit "Update", class: "expanded button" %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="small-12 column text-right">
        <%= link_to "Back", :back %>
      </div>
    </div>
  </div>
</div>
