= bootstrap_form_for(resource, as: resource_name, url: send(path_method, resource_name), html: { method: :put }) do |f|
  = f.hidden_field token
  = f.hidden_field :email_updates
  = f.password_field :password, autofocus: true, autocomplete: 'off'
  = f.password_field :password_confirmation, autocomplete: 'off', label: 'Confirm Password'
  .d-grid.gap-2
    = f.submit button_text, class: 'btn btn-primary'
