= form_for(resource, as: resource_name, url: send(path_method, resource_name), html: { method: :put }) do |f|
  = f.hidden_field token
  .row
    .small-12.column
      = f.password_field :password, autofocus: true, autocomplete: 'off'
  .row
    .small-12.column
      = f.password_field :password_confirmation, autocomplete: 'off', label: 'Confirm Password'
  .row
    .small-12.column
      = f.submit button_text, class: 'expanded button'
