<%= form_for(@event) do |f| %>
  <div class="callout">
    <% if @event.errors[:base].any? %>
      <div class="alert callout">
        <% @event.errors[:base].each do |e| %>
          <%= e %><br/>
        <% end %>
      </div>
    <% end %>
    <% if current_user.admin %>
      <div class="row">
        <div class="small-12 column">
          <%=f.text_field :title, placeholder: "Overrides Owner Name" %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 column">
          <% if @event.persisted? %>
            <%=f.collection_select(:user_id,
                                   User.all.order(:first_name, :last_name),
                                   :id,
                                   :full_name,
                                   include_blank: true,
                                   label: "Schedule For") %>
          <% else %>
            <%=f.collection_select(:user_id,
                                   User.all.order(:first_name, :last_name) + [User.new],
                                   :id,
                                   :full_name,
                                   selected: current_user.id,
                                   label: "Schedule For") %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="small-6 column">
        <%=f.text_field :start_date, label: "First Date", class: "date-pick" %>
      </div>
      <div class="small-6 column">
          <%=f.text_field :end_date, label: "Last Date", class: "date-pick" %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 column">
        <%=f.text_area :description, label: "Notes" %>
      </div>
    </div>
    <div class="row">
      <div class= "small-12 column">
        <%=f.submit class: "expanded button" %>
      </div>
    </div>
  </div>
<% end %>
