<%= form_for(@event) do |f| %>
  <div class="panel">
    <div class="row">
      <div class="small-12 column">
        <% if current_user.admin %>
          <label>Schedule For
            <%=f.collection_select(:user_id, User.all, :id, :first_name) %>
          </label>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="small-6 column">
        <label>First Date
          <%=f.text_field :start_date %>
        </label>
      </div>
      <div class="small-6 column">
        <label>Last Date
          <%=f.text_field :end_date %>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="small-12 column">
        <label>Notes
          <%=f.text_area :description %>
        </label>
      </div>
    </div>
    <div class="row">
      <div class= "small-12 column">
        <a href="#" class="button expand" id="submit_button">Save</a>
      </div>
    </div>
  </div>
<% end %>
