<%= form_for(@event) do |f| %>
  <div class="panel">
    <div class="row">
      <div class="small-12 column">
        <% if current_user.admin %>
          <%=f.collection_select(:user_id, User.all, :id, :full_name,  label: "Schedule For") %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="small-6 column">
        <%=f.text_field :start_date, label: "First Date", class: "date-pick" %>
      </div>
      <div class="small-6 column">
          <%=f.text_field :end_date, label: "Last Date", class: "date-pick" %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 column">
        <%=f.text_area :description, label: "Notes" %>
      </div>
    </div>
    <div class="row">
      <div class= "small-12 column">
        <%=f.submit class: "button expand" %>
      </div>
    </div>
  </div>
<% end %>
