<%= form_for(@event) do |f| %>
  <div class="panel">
    <% if @event.errors[:base].any? %>
      <div data-alert class="alert-box alert">
        <% @event.errors[:base].each do |e| %>
          <%= e %><br/>
        <% end %>
      </div>
    <% end %>
    <% if current_user.admin %>
      <div class="row">
        <div class="small-12 column">
          <%=f.text_field :title, placeholder: "Overrides Owner Name" %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 column">
            <%=f.collection_select(:user_id, User.all, :id, :full_name, include_blank: true, label: "Schedule For") %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="small-6 column">
        <%=f.text_field :start_date, label: "First Date", class: "date-pick" %>
      </div>
      <div class="small-6 column">
          <%=f.text_field :end_date, label: "Last Date", class: "date-pick" %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 column">
        <%=f.text_area :description, label: "Notes" %>
      </div>
    </div>
    <div class="row">
      <div class= "small-12 column">
        <%=f.submit class: "button expand" %>
      </div>
    </div>
  </div>
<% end %>
