<div class="row">
  <div class="medium-2 medium-push-10 columns">
    <%= link_to 'New Event', new_event_path %>
    <div class="row collapse">
      <label>Calendar Feed</label>
      <% if current_user.calendar_access_token.present? %>
        <div class="small-9 medium-12 large-9 columns">
          <%= text_field_tag :access_token, current_user.feed_url, disabled: true %>
        </div>
        <div class="small-3 hide-for-medium-only columns">
          <a href="#" class="postfix button clip" data-clipboard-text="<%= current_user.feed_url %>">
            <i class="fa fa-clipboard"></i>
          </a>
        </div>
      <% else %>
        <%= link_to "Generate", edit_user_registration_path, class: "tiny expand button" %>
      <% end %>
    </div>
  </div>
  <div class="medium-10 medium-pull-2 columns">
    <% if @season %>
      <div id="calendar"
        <%= 'data-today=true' if @include_today %>
        data-date="<%= @date + 5.hours %>"
        data-start-date="<%=@season.start_date + 5.hours %>"
        data-end-date="<%=@season.end_date + 5.hours %>">
      </div>
    <% else %>
      <div class="callout panel">
        <h5>Season Not Open</h5>
        <p>The dates for the next camp "season" aren't defined yet.  Stay tuned.</p>
      </div>
    <% end %>
  </div>
</div>
