.row
  .sidebar.medium-3.medium-push-9.columns
    %ul#nav-links.medium-vertical.menu.clearfix
      %li
        = link_to events_path(format: :pdf) do
          = icon 'print'
          %span Print
      %li
        = link_to new_event_path do
          = icon 'calendar'
          %span New Event
      - if current_user.invitation_limit > 0
        %li
          = link_to new_user_invitation_path do
            = icon 'user-plus'
            %span Invite New User
      - if current_user.admin
        %li
          = link_to seasons_path do
            = icon 'edit'
            %span Manage Seasons
        %li
          = link_to new_notification_path do
            = icon 'envelope-o'
            %span Send Notification
    .row.collapse
      %label
        Calendar Feed URL
        %span.has-tip{title: 'Use this address to subscribe to the Camp calendar in another calendar application (e.g. Google Calendar). Click the button to copy the address to your clipboard.'}
          = icon 'question-circle'
    .row.collapse.input-group
      = text_field_tag :access_token, current_user.feed_url, readonly: true, class: 'input-group-field'
      .input-group-button
        %a.button.clip{data: {clipboard_text: current_user.feed_url}, href: '#'}
          = icon 'clipboard'
  .medium-9.medium-pull-3.columns
    - if @season
      - caldata = {date: @date.iso8601, start_date: @season.start_date.iso8601, end_date: @season.end_date.iso8601}
      - caldata[:today] = 'true' if @include_today
      #calendar{data: caldata}
    - else
      .secondary.callout
        %h5 Season Not Open
        %p The dates for the next Camp "season" aren't defined yet. Stay tuned.
