.container-fluid
  .row
    .col-12.col-md-3.order-md-2
      %nav.mb-md-5{ aria: { labeledby: 'eventnav' } }
        %h2.visually-hidden#eventnav Event Navigation
        %ul.nav.flex-md-column.justify-content-around#nav-links
          - if @season
            %li.nav-item
              = link_to events_path(format: :pdf), class: 'nav-link' do
                = icon 'solid', 'print', 'Print'
            %li.nav-item
              = link_to new_event_path, class: 'nav-link' do
                = icon 'solid', 'calendar-days', 'New Event'
          - if current_user.invitations?
            %li.nav-item
              = link_to new_user_invitation_path, class: 'nav-link' do
                = icon 'solid', 'user-plus', 'Invite New User'
          - if current_user.admin
            %li.nav-item
              = link_to seasons_path, class: 'nav-link' do
                = icon 'solid', 'pen-to-square', 'Manage Seasons'
            %li.nav-item
              = link_to new_notification_path, class: 'nav-link' do
                = icon 'solid', 'envelope-open', 'Send Notification'
            %li.nav-item
              = link_to to_grant_invitations_path, class: 'nav-link' do
                = icon 'solid', 'ticket', 'Grant Invitations'

      .mb-4
        %label.form-label{ for: 'feed-url-field' }
          Calendar Feed URL
          %span{ title: calendar_tip, data: { bs_toggle: 'tooltip' } }= icon 'solid', 'circle-question'
        .input-group
          = text_field_tag :access_token,
                           events_feed_url(token: current_user.calendar_access_token, format: 'ics'),
                           class: 'form-control', id: 'feed-url-field', readonly: true
          = button_tag data: { clipboard_target: '#feed-url-field',
                               disable_hover: true, click_open: false, tabindex: 2 },
                       class: 'btn btn-secondary clip' do
            %span.visually-hidden Copy feed URL to the clipboard
            = icon 'regular', 'clipboard'

    .col-12.col-md-9.order-md-1
      - if @season
        #calendar{ data: { start_date: @season.start_date, end_date: 1.day.after(@season.end_date) } }
      - elsif @pending_season.present? && !@pending_season.available?
        .card.w-75.mx-auto.text-bg-light
          .card-body
            %h5.card-title Season Pending
            %p.card-text The next Camp season will be available #{l @pending_season.available, format: :long}.
      - else
        .card.w-75.mx-auto.text-bg-light
          .card-body
            %h5.card-title Season Not Open
            %p.card-text The dates for the next Camp season aren't defined yet. Stay tuned.
