<div class="row">
  <div class="sidebar medium-3 medium-push-9 columns">
    <ul id="nav-links" class="medium-vertical menu">
      <li><%= link_to 'New Event', new_event_path %></li>
      <% if current_user.admin %>
        <li><%= link_to "Manage Seasons", seasons_path %></li>
      <% end %>
    </ul>
    <div class="row collapse">
      <label>
        Calendar Feed URL
        <span data-tooltip
          class="has-tip"
          title="Use this address to subscribe to the Camp calendar in another calendar application (e.g. Google Calendar). Click the button to copy the address to your clipboard.">
          <%= icon 'question-circle' %>
        </span>
      </label>
    </div>
    <div class="row collapse input-group">
      <%= text_field_tag :access_token,
                         current_user.feed_url,
                         readonly: true,
                         class: 'input-group-field' %>
      <div class="input-group-button">
        <a href="#" class="button clip" data-clipboard-text="<%= current_user.feed_url %>">
          <%= icon 'clipboard' %>
        </a>
      </div>
    </div>
  </div>
  <div class="medium-9 medium-pull-3 columns">
    <% if @season %>
      <div id="calendar"
        <%= 'data-today=true' if @include_today %>
        data-date="<%= @date.iso8601 %>"
        data-start-date="<%= @season.start_date.iso8601 %>"
        data-end-date="<%= @season.end_date.iso8601 %>">
      </div>
    <% else %>
      <div class="secondary callout">
        <h5>Season Not Open</h5>
        <p>The dates for the next Camp "season" aren't defined yet. Stay tuned.</p>
      </div>
    <% end %>
  </div>
</div>
