<div class="row">
  <div class="sidebar medium-3 medium-push-9 columns">
    <ul id="nav-links" class="no-bullet">
      <li><%= link_to 'New Event', new_event_path %></li>
      <% if current_user.admin %>
        <li><%= link_to "Manage Seasons", seasons_path %></li>
      <% end %>
    </ul>
    <div class="row collapse">
      <label>
        Calendar Feed URL
        <span data-tooltip
          class="has-tip"
          title="Use this address to subscribe to the Camp calendar in another calendar
          application (e.g. Google Calendar). Click the button to copy the address to
          your clipboard.">
          <i class="fa fa-question-circle"></i>
        </span>
      </label>
    </div>
    <div class="row collapse">
      <div class="small-9 columns">
        <%= text_field_tag :access_token, current_user.feed_url, readonly: true %>
      </div>
      <div class="small-3 columns">
        <a href="#" class="postfix button clip" data-clipboard-text="<%= current_user.feed_url %>">
          <i class="fa fa-clipboard"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="medium-9 medium-pull-3 columns">
    <% if @season %>
      <div id="calendar"
        <%= 'data-today=true' if @include_today %>
        data-date="<%= time_for_json(@date) %>"
        data-start-date="<%= time_for_json(@season.start_date) %>"
        data-end-date="<%= time_for_json(@season.end_date) %>">
      </div>
    <% else %>
      <div class="callout panel">
        <h5>Season Not Open</h5>
        <p>The dates for the next Camp "season" aren't defined yet. Stay tuned.</p>
      </div>
    <% end %>
  </div>
</div>
