= content_for :title, @event.full_title
.container
  %h1= @event.display_title
  .border.border-secondary-subtle.p-3
    .row
      .col-sm-6
        %strong From:
        = @event.start_date
      .col-sm-6
        %strong To:
        = @event.end_date
    - if @event.description.present?
      .card.mt-3.text-background-light
        .card-body
          = @event.description
  .d-flex.justify-content-between.mt-3
    = link_to 'Edit', edit_event_path(@event) if @owner.present?
    = link_to 'Delete', event_path(@event), method: :delete if @owner.present?
    = link_to 'Back', events_path
