<div class="row">
  <div class="small-8 small-centered column">
    <div class="panel">
      <div class="row">
        <div class="small-12 column">
          <h3 class="subheader">
            <%=@event.user.full_name %>
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="small-6 column">
          <strong>From:</strong>
          <%=@event.start_date %>
        </div>
        <div class="small-6 column">
          <strong>To:</strong>
          <%=@event.end_date %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 column">
          <p class="description">
          <%=@event.description %>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-6 column">
        <%= link_to 'Edit', edit_event_path(@event) %>
      </div>
      <div class="small-6 column">
        <%= link_to 'Back', events_path, class: 'right' %>
      </div>
    </div>
  </div>
</div>
