= content_for :title do
  Invite New #{resource_name.to_s.humanize}
.container
  %h1
    Invite New #{resource_name.to_s.humanize}
  %p #{pluralize current_user.invitation_limit, 'invitation'} remaining.
  = bootstrap_form_for resource, as: resource_name, url: invitation_path(resource_name),
                                 html: { method: :post, class: 'border border-secondary-subtle p-3' } do |f|
    .row
      .col-sm-6
        = f.text_field :first_name, autofocus: true
      .col-sm-6
        = f.text_field :last_name
    = f.email_field :email
    .d-grid.gap-2
      = f.submit 'Invite', class: 'btn btn-primary'
  .mt-3.w-100.text-end
    = link_to 'Back', :back
