!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %title= page_title

    = favicon_link_tag    '/favicon.ico'
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body
    %header.top-bar
      .top-bar-left
        %h1= link_to 'Il Campo Moretti', authenticated_root_path
      .top-bar-right
        %nav{'aria-labeledby' => 'topnav'}
          %h2#topnav.show-for-sr 'Account Actions'
          %ul.menu
            %li= link_to current_user.full_name, edit_user_registration_path
            %li= link_to 'Documents', documents_page_path
            %li= link_to 'Logout', destroy_user_session_path, method: :delete
    .row
      .medium-8.medium-centered.columns
        - if notice.present?
          .success.callout{data: {closable: true}}
            = notice
            %button.close-button{data: {close: true}, type: 'button'} ×
        - if alert.present?
          .alert.callout{data: {closable: true}}
            = alert
            %button.close-button{data: {close: true}, type: 'button'} ×
    = yield
    = javascript_pack_tag 'application'
    / Il Campo Moretti -- Art Shane, April 1997
    / 
    / Strange things are seen by the River Green
    / Just below the Vermont line.
    / Hear the frogs the wailing dogs
    / The McCullough chainsaw whine.
    / In pines so tall whose needles fall
    / On a shelter cool and damp.
    / With hearthstone lain by Donald Swain,
    / Known to kin as Camp.
    /
    / The sun's past noon, we're eating soon,
    / P. and L. may be coming late.
    / As Peter plucks those burger pucks
    / From the ancient charcoal grate.
    / That slaw looks nice with green pepper slice
    / There's a loaf of high tech bake.
    / Then the fun seeing ice cream run
    / Off just-iced birthday cake.
    /
    / Let's make the day, give John his say
    / On any given topic.
    / A point of view that's park askew,
    / The other part myopic.
    / A lesson on loam, the Pope in Rome
    / Whether Henry's acting girly.
    / Remind us then, the last wise men
    / Were Larry, Moe and Curly.
    /
    / I must remind that beds you'll find
    / Were made in yesteryear.
    / Their names announce like rodeo mounts
    / And should inspire fear.
    / There's "Rattler" rack, "Sidewinder" sack
    / "The Montague Backbreaker".
    / Come try a night on "Dynamite"
    / Or the dreaded "Widowmaker".
    /
    / There'll be no moving or much improving
    / To Michael that's distractin'.
    / Would cause a fit to Fran and Whit
    / Those cornerstones of Acton.
    / Just never let your heart forget,
    / Amid the champagne and confetti,
    / That homestead hidin' on the edge of Leyden
    / The soul of the Moretti.
