!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %meta{ name: 'apple-mobile-web-app-capable', content: 'yes' }
    %title= page_title

    = favicon_link_tag 'favicon.ico', sizes: '16x16 32x32'
    = favicon_link_tag 'icon-512.png', type: 'image/png'
    = favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png'
    %link{ rel: 'manifest', href: pwa_manifest_path(format: :json) }

    = stylesheet_link_tag 'application', data: { turbolinks_track: 'reload' }
    = javascript_include_tag 'sentry', nonce: true, type: 'module', data: { turbolinks_track: 'reload' }
    = javascript_include_tag 'application', nonce: true, type: 'module', data: { turbolinks_track: 'reload' }

    = csrf_meta_tags
    = csp_meta_tag
    = Sentry.get_trace_propagation_meta.html_safe # rubocop:disable Rails/OutputSafety
  %body
    - if content_for?(:body)
      = yield(:body)
    - else
      %nav.navbar.navbar-expand.bg-dark.mb-3#main-nav
        .container-fluid
          %h1= link_to 'Il Campo Moretti', authenticated_root_path, class: 'nav-link'

          %h2.sr-only#topnav Account Actions
          %ul.navbar-nav{ aria: { labeledby: 'topnav' } }
            %li.nav-item= link_to current_user.full_name, edit_user_registration_path, class: 'nav-link'
            %li.nav-item= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link'
      .container-fluid
        .row.d-flex.justify-content-center
          .col-md-8
            = display_flash_messages
      = yield
      = comment_lines poem
