<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Il Campo Moretti" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row">
      <div class="medium-9 columns">
        <h1>Il Campo Moretti</h1>
      </div>
      <div class="medium-3 columns">
        <ul class="inline-list">
          <li><%=link_to current_user.full_name, edit_user_registration_path %></li>
          <li><%=link_to "Logout", destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="medium-8 medium-centered columns">
        <% if notice.present? %>
          <div data-alert class="alert-box success">
            <%= notice %>
            <a href="#" class="close">&times;</a>
          </div>
        <% end %>
        <% if alert.present? %>
          <div data-alert class="alert-box alert">
            <%= alert %>
            <a href="#" class="close">&times;</a>
          </div>
        <% end %>
      </div>
    </div>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
