<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Il Campo Moretti" %></title>

    <%= favicon_link_tag       "/favicon.ico" %>
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header class="row">
      <div class="medium-9 columns">
        <h1><%= link_to "Il Campo Moretti", authenticated_root_path %></h1>
      </div>
      <div class="medium-3 columns">
        <ul class="menu">
          <li><%=link_to current_user.full_name, edit_user_registration_path %></li>
          <li><%=link_to "Documents", documents_page_path %></li>
          <li><%=link_to "Logout", destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    </header>
    <div class="row">
      <div class="medium-8 medium-centered columns">
        <% if notice.present? %>
          <div data-closable class="success callout">
            <%= notice %>
            <button class="close-button" type="button" data-close>&times;</button>
          </div>
        <% end %>
        <% if alert.present? %>
          <div data-closable class="alert callout">
            <%= alert %>
            <button class="close-button" type="button" data-close>&times;</button>
          </div>
        <% end %>
      </div>
    </div>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
