!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %title Il Campo Moretti
    = favicon_link_tag    '/favicon.ico'
    = stylesheet_pack_tag 'style', media: 'all'
    = csrf_meta_tags
  %body
    #pusher
    #login-form.row
      .small-8.small-centered.columns
        .callout
          = display_flash_messages
          = yield
          = render 'devise/shared/links'
    = javascript_pack_tag 'application'
