<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Il Campo Moretti</title>

    <%= favicon_link_tag       "/favicon.ico" %>
    <%= favicon_link_tag       '/hemlockicon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= stylesheet_link_tag    "application-all", media: 'all' %>
    <%= stylesheet_link_tag    "application-screen", media: 'screen' %>
    <%= stylesheet_link_tag    "application-print", media: 'print' %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="pusher"></div>
    <div id="login-form" class="row">
      <div class="small-8 small-centered columns">
        <div class="callout">
          <% if notice.present? %>
            <div data-closable class="success callout">
              <%= notice %>
              <button class="close-button" type="button" data-close>&times;</button>
            </div>
          <% end %>
          <% if alert.present? %>
            <div data-closable class="alert callout">
              <%= alert %>
              <button class="close-button" type="button" data-close>&times;</button>
            </div>
          <% end %>
          <%= yield %>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
